<div class="main_wrapper">
  <div class='page_title'>
    <h3>入力内容確認</h3>
  </div>
  <%= form_with(model: @user, local: true, url: confirm_id, method: confirm_request) do |f| %>
    <div class='add_profile_layout'>
      <div class="table_wrapper slide_left">
        <table>
          <tbody>
            <tr>
              <td><p>名前:</p></td>
              <td><p><%= @user.name %></p></td>
            </tr>
              <td><p>メールアドレス:</p></td>
              <td><p><%= @user.email %></p></td>
            <tr>
            </tr>
              <td><p>パスワード : </p></td>
              <td><p>＊＊＊＊＊＊＊＊</p></td>
            <tr>
            </tr>
              <td><p>パスワード確認用 : </p></td>
              <td><p>＊＊＊＊＊＊＊＊</p></td>
            <tr>
          </tbody>
        </table>
        <div>
          <% if current_user.id == @user.id %>
            <% if @user.id? %>
              <%= f.submit "編集する", class: "btn btn-warning side_margin" %>
            <% else %>
              <%= f.submit "登録する", class: "btn btn-warning side_margin" %>
            <% end %>
            <%= f.submit "戻る", name: 'back', class: "btn btn-warning side_margin" %>
          <% end %>
        </div>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :password %>
        <%= f.hidden_field :password_confirmation %>
      </div>
      <% if @user.id? %>
        <div class='slide_light'>
          <p>プロフィール画像</p>
          <% if @user.image? %>
            <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
            <%= f.hidden_field :image_cache %>
          <% else %>
            <div class='non_image'>
              <p>profile_image</p>
              <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
              <%= f.hidden_field :image_cache %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>