<div class='add_profile_layout'>
  <div class="main_wrapper slide_left">
    <h3 class='page_title'>プロフィール</h3>
    <div class="table_wrapper">
      <table>
        <tbody>
          <tr>
            <td><p>名前:</p></td>
            <td><p><%= @user.name %></p></td>
          </tr>
          <tr>
            <td><p>メールアドレス:</p></td>
            <td><p><%= @user.email %></p></td>
          </tr>
          <tr>
            <td><p>パスワード : </p></td>
            <td><p>＊＊＊＊＊＊＊＊</p></td>
          </tr>
          <tr>
            <td><p>パスワード確認用 : </p></td>
            <td><p>＊＊＊＊＊＊＊＊</p></td>
          </tr>
          <tr>
            <td class="button"><%= link_to "投稿", new_picture_path, class: "btn btn-warning side_margin" %></td>
            <td class="button"><%= link_to "編集", edit_user_path(@user.id), class: "btn btn-warning side_margin" %></td>
            <td class="button"><%= link_to '退会', user_path(@user.id), method: :delete, data: { confirm: '本当に退会しますか？'}, class: "btn btn-warning side_margin" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='slide_light'>
    <p>プロフィール画像</p>
    <% if @user.image? %>
      <p>Image: </p>
      <%= image_tag @user.image.url %>
    <% else %>
      <div class='non_image'>
        <p>profile_image</p>
      </div>
    <% end %>
  </div>
</div>