<div class="main_wrapper">
  <div>
    <h3 class='page_title'>プロフィール</h3>
  </div>
  <div class='add_profile_layout'>
    <div class="table_wrapper slide_left">
      <table>
        <tbody>
          <tr>
            <td><p>名前:</p></td>
            <td><p><%= @user.name %></p></td>
          </tr>
          <tr>
            <td><p>メールアドレス:</p></td>
            <td><p><%= @user.email %></p></td>
          </tr>
          <tr>
            <td><p>パスワード : </p></td>
            <td><p>＊＊＊＊＊＊＊＊</p></td>
          </tr>
          <tr>
            <td><p>パスワード確認用 : </p></td>
            <td><p>＊＊＊＊＊＊＊＊</p></td>
          </tr>
        </tbody>
      </table>
      <div class='button_area'>
        <% if current_user.id == @user.id %>
          <%= link_to "お気に入り", gallery_users_path, class: "btn btn-warning side_margin" %>
          <%= link_to "投稿", new_picture_path, class: "btn btn-warning side_margin" %>
          <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-warning side_margin" %>
          <%= link_to '退会', user_path(@user.id), method: :delete, data: { confirm: '本当に退会しますか？'}, class: "btn btn-warning side_margin" %>
        <% end %>
      </div>
    </div>
    <div class='slide_light'>
      <div class="image_area">
        <p>プロフィール画像</p>
        <% if @user.image? %>
          <%= image_tag @user.image.url %>
        <% end %>
      </div>
    </div>
  </div>
</div> 