<div class='page_title bottom_margin'>
  <h3>投稿詳細</h3>
</div>
<div class="contents_wrapper">
  <div class='contents_container'>
    <div class="container_image">
      <%= image_tag @picture.user.image.thumb.url %>
    </div>
    <div class="container_remove_image">
      <div class="container_name">
        <p> 名前 : <%= @picture.user.name %></p>
      </div>
      <div class="container_comment">
        <div class="overflow-wrap"> コメント : <%= @picture.content %></div>
      </div>
      <div class="picture_container">
        <div>
          <% if @picture.post_image.url %> 
            <p class="picture_tag">picture</p>
            <%= image_tag @picture.post_image.url, class: "picture bottom_padding" if @picture.post_image? %>
          <% end %>
        </div>
        <div class="bottom_padding">
          <p><%= @picture.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      </div>
      </div>
    </div>
  </div>
  <div class="float">
    <%= link_to "編集", edit_picture_path(@picture.id), class: "btn btn-warning side_margin" %>
    <%= link_to "一覧に戻る", pictures_path, class: "btn btn-warning side_margin" %>
    <%= link_to "削除", picture_path(@picture.id), method: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-warning side_margin" %>
  </div>
</div>