<!DOCTYPE html>
<html>
  <head>
    <title>Photodia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='body_wrapper'>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Photodia</a>
          </div>
          <% if logged_in? %>  
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">投稿一覧</a></li>
              <li><%= link_to "投稿", new_picture_path %></li>
              <li><a href="#">お気に入り</a></li>
              <li><a href="#">ギャラリー</a></li>
              <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to session_path(current_user.id), { method: :delete, data: {confirm: "ログアウトしますか？"}} do %>
                  <span class="glyphicon glyphicon-log-in"></span> Logout
                <% end %>
              </li>  
            </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to new_session_path, class: 'post' do %>
                    <span class="glyphicon glyphicon-log-in"></span> Login
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_path, class: 'post' do %>
                    <span class="glyphicon glyphicon-log-in"></span> SignUp
                  <% end %>
                </li>
              </ul>
          <% end %>
        </div>
      </nav>
      <div class="flash_message">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key} bg-success") %>
        <% end %>
      </div>
      <%= yield %>
      <footer>
        <div class='footer'>
          <p class='copyright'>ssss</p>
        </div>
      </footer>
    </div>   
  </body>
</html>
