<!DOCTYPE html>
<html>
  <head>
    <title>Photodia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='body_wrapper'>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Photodia</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">投稿一覧</a></li>
            <li><a href="#">投稿</a></li>
            <li><a href="#">お気に入り</a></li>
            <li><a href="#">ギャラリー</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
      <%= yield %>
      <footer>
        <div class='footer'>
          <p class='copyright'>ssss</p>
        </div>
      </footer>
    </div>   
  </body>
</html>
