<!DOCTYPE html>
<html>
  <head>
    <title>Photodia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixew-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">タイトル</a>
        </div>      
        <div class="collapse navbar-collapse" id="navbarEexample1">
          <ul class="nav navbar-nav">
            <li><a href="#">メニューＡ</a></li>
            <li class="active"><a href="#">メニューＢ</a></li>
            <li><a href="#">メニューＣ</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <div class='footer'>
        <p class='copyright'></p>
      </div>
    </footer>
  </body>
</html>
